In [32]:
#import all required libraries

import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [41]:
data=pd.read_csv("50_Startups.csv")   #read the required dataset 
data.head()                 #display first 5 rows to check

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [42]:
data.isnull().sum() #check for null values in dataset

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [46]:
data.dtypes  #check the data types

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [48]:
labelencoder=LabelEncoder()   #using this we convert object type int integer
data["State"]=labelencoder.fit_transform(data["State"])

In [49]:
data.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State                int32
Profit             float64
dtype: object

In [36]:
data.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [37]:
x=data.drop("Profit",axis=1) #dependent variable
y=data["Profit"]  # independent variable

In [38]:
#splitting testing and training data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [39]:
#applying linear regression modelto the data
linear_regression=LinearRegression()
linear_regression.fit(x_train,y_train)
prediction=linear_regression.predict(x_test)

In [40]:
#predicting the test value
print(r2_score(y_test,prediction))

0.9205683682009176